body {
    background-color: rgb(6, 102, 152);
    /* background-color: rgb(0, 55, 107); */
    width: 100%;
    color: white;
    margin: 0;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.adLogInProcess {
    text-align: center;
}

.ad_logIn {
    width: 100%;
    height: 100%;
    margin: 20vh auto;
    font-size: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.ad_logIn img,
.ad_logInLogo img {
    width: 300px;
    height: auto;
}

.ad_logInLogo {
    width: auto;
    margin-top: 100px;
    /* margin: 50px 45%; */
}

#bbdd_hd_area .hd_contain .hd_ad_menu {
    position: absolute;
    /* top: 45%; */
    top: 60px;
    right: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
}

#bbdd_hd_area .hd_contain .hd_ad_logIn {
    position: absolute;
    /* top: 45%; */
    top: 30px;
    left: 100px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
}

#bbdd_hd_area .hd_contain .hd_ad_menu>a {
    /* display: block; */
    display: inline-block;
}

#bbdd_hd_area .hd_contain .hd_ad_menu>a>img {
    width: 21px;
}

#bbdd_sc_area .mega_list,
#bbdd_sc_area .mega_title {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

article {
    display: grid;
    grid-row: 60px 500px;
    min-width: 150px;
    height: auto;
    min-height: 100px;
    border-radius: 0 0 15px 15px;
    /* border-radius: 0 15px 15px 0; */
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* position: fixed; */
    /* position: sticky; */
    top: auto;
    float: right;
    z-index: 1000;
}

.adminMenu:hover {
    cursor: pointer;
}

.adminMenuLi {
    padding-top: 10px;
}

.adminMenuLi li {
    min-height: 20px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(6, 102, 152, 0.2);
    /* border-bottom: 1px solid rgba(0, 55, 107, 0.2); */
}

.adminMenuLi li:last-of-type {
    border-bottom: 0px;
    padding-bottom: 20px;
}

.adminMenuLi li a>p {
    color: black;
}

#menutitle {
    display: grid;
    height: 60px;
    width: 240px;
    font-size: 18px;
    box-shadow: #333;
    margin: 0;
    padding: none;
}

.view_wrap .view_wrap_line .contEditor {
    color: rgb(6, 102, 152);
    /* color: rgb(0, 55, 107); */
    /* max-width: 596px; */
    max-width: 640px;
    margin: 0 auto;
}

.view_wrap .view_wrap_line .contEditor h3 {
    padding: 30px;
}

.view_wrap .view_wrap_line .contEditor .createInput {
    padding: 20px 0px;
    text-align: left;
}

.view_wrap .view_wrap_line .contEditor .createInput .createGrid2 {
    margin-left: 10px;
}

.view_wrap .view_wrap_line .contEditor .createInput .admin_editor {
    /* margin: 0 auto;
    padding: 0 auto; */
    /* max-width: 596px; */
    max-width: 640px;
    /* width: 100%; */
}

#ir1 {
    min-height: 500px;
    /* width: 100%; */
    /* min-width: 630px; */
    /* max-width: 100%; */
    width: 630px;
    max-width: 630px;
}

.view_wrap .view_wrap_line .admin_table {
    color: rgb(6, 102, 152);
    /* color: rgb(0, 55, 107); */
    /* max-width: 596px; */
    max-width: 640px;
    margin: 0 auto;
}

#adCsList,
.cs_table {
    width: 100%;
    margin: 0 auto;
    /* table-layout: fixed; */
}


/* 관리자 게시판 */

.cont_table,
.user_table,
.zin_table,
.thumbs_table,
.noti_table {
    border-collapse: collapse;
}

.cont_table tr,
.user_table tr,
.zin_table tr,
.thumbs_table tr,
.noti_table tr {
    border-bottom: 1px solid rgba(6, 102, 152, 0.2);
    /* border-bottom: 1px solid rgba(0, 55, 107, 0.2); */
    /* padding-bottom: 10px; */
}

.cont_table td,
.user_table td,
.zin_table td,
.thumbs_table td,
.noti_table td,
.cont_table th,
.user_table th,
.zin_table th,
.thumbs_table th,
.noti_table th {
    /* border-bottom: 1px solid rgba(0, 55, 107, 0.2); */
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 필진 게시판 */

.user_table th:nth-child(4),
.user_table td:nth-child(4) {
    font-weight: 900;
}


/* 매거진 게시판 */

.zin_table th:nth-child(3),
.zin_table td:nth-child(3) {
    font-weight: 900;
}


/* 연재물 게시판 */

.thumbs_table th:nth-child(3),
.thumbs_table td:nth-child(3) {
    font-weight: 900;
}


/* 공지 게시판 */

.noti_table th:nth-child(4),
.noti_table td:nth-child(4) {
    font-weight: 900;
}


/* 게시물 게시판 */

.cont_table td:nth-child(1) {
    max-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cont_table th:nth-child(2),
.cont_table td:nth-child(2) {
    max-width: 50px;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    word-break: break-all;
    /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; */
}

.cont_table th:nth-child(3),
.cont_table td:nth-child(3) {
    max-width: 80px;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    word-break: break-all;
    /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; */
}

.cont_table td:nth-child(4) {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cont_table td:nth-child(5) {
    max-width: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cont_table td:nth-child(6) {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    padding-left: 5px;
}

.cont_table th:nth-child(6),
.cont_table td:nth-child(6) {
    font-weight: 900;
}

.cont_table td:nth-child(7) {
    max-width: 85px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cont_table td:nth-child(8) {
    width: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cont_table td:nth-child(9) {
    width: 75px;
}

.cs_box {
    width: 100%;
    text-align: left;
}

.cs_box_front {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 20% 20%;
    margin-top: 50px;
    margin-left: 30%;
}

.cs_box_front .front_btn {
    display: inline-block;
}

.createForm a {
    color: rgb(6, 102, 152);
    /* color: rgb(0, 55, 107); */
}

[onclick] {
    cursor: pointer;
}

@media all and (max-width: 1025px) {
    #bbdd_hd_area .hd_contain .hd_ad_logIn {
        left: 130px;
    }
}

@media all and (max-width: 801px) {
    #bbdd_hd_area .hd_contain .hd_ad_logIn {
        left: 100px;
    }
}

@media all and (max-width: 481px) {
    #bbdd_hd_area .hd_contain .hd_ad_logIn {
        left: 85px;
    }
    #bbdd_hd_area .hd_contain .hd_ad_menu {
        right: 50px;
    }
    /* 모든 게시판 */
    /* .cont_table td, */
    .cont_table,
    .user_table,
    .zin_table,
    .thumbs_table,
    .noti_table {
        /* table-layout: fixed; */
        font-size: 0.8rem;
    }
    .cont_table td,
    .user_table td,
    .zin_table td,
    .thumbs_table td,
    .noti_table td,
    .cont_table th,
    .user_table th,
    .zin_table th,
    .thumbs_table th,
    .noti_table th {
        /* border-bottom: 1px solid rgba(0, 55, 107, 0.2); */
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    /* 필진 게시판 */
    .user_table th:nth-child(3),
    .user_table td:nth-child(3) {
        width: 80px;
        word-break: break-all;
    }
    .user_table th:nth-child(4),
    .user_table td:nth-child(4) {
        width: 40px;
        word-break: break-all;
        font-weight: 900;
    }
    .user_table th:nth-child(5),
    .user_table td:nth-child(5) {
        width: 40px;
        word-break: break-all;
    }
    /* 매거진 게시판 */
    .zin_table th:nth-child(2),
    .zin_table td:nth-child(2) {
        width: 35px;
        word-break: break-all;
    }
    .zin_table th:nth-child(3),
    .zin_table td:nth-child(3) {
        width: 40px;
        word-break: break-all;
        font-weight: 900;
    }
    .zin_table th:nth-child(4),
    .zin_table td:nth-child(4) {
        width: 85px;
        word-break: break-all;
    }
    .zin_table th:nth-child(5),
    .zin_table td:nth-child(5) {
        width: 50px;
        word-break: break-all;
    }
    .zin_table th:nth-child(6),
    .zin_table td:nth-child(6) {
        width: 50px;
        word-break: break-all;
    }
    /* 연재물 게시판 */
    .thumbs_table th:nth-child(2),
    .thumbs_table td:nth-child(2) {
        width: 50px;
        word-break: break-all;
    }
    .thumbs_table th:nth-child(3),
    .thumbs_table td:nth-child(3) {
        width: 85px;
        word-break: break-all;
    }
    .thumbs_table th:nth-child(4),
    .thumbs_table td:nth-child(4) {
        width: 50px;
        word-break: break-all;
    }
    .thumbs_table th:nth-child(5),
    .thumbs_table td:nth-child(5) {
        width: 50px;
        word-break: break-all;
    }
    /* 공지 게시판 */
    .noti_table th:nth-child(2),
    .noti_table td:nth-child(2) {
        width: 52px;
        word-break: break-all;
    }
    .noti_table th:nth-child(3),
    .noti_table td:nth-child(3) {
        width: 50px;
        word-break: break-all;
    }
    .noti_table th:nth-child(4),
    .noti_table td:nth-child(4) {
        width: 70px;
        word-break: break-all;
    }
    .noti_table th:nth-child(5),
    .noti_table td:nth-child(5) {
        width: 50px;
        word-break: break-all;
    }
    /* 게시물 게시판 */
    .cont_table td:nth-child(1) {
        max-width: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .cont_table td:nth-child(2) {
        max-width: 35px;
        text-overflow: ellipsis;
        /* overflow: hidden; */
        /* white-space: nowrap; */
    }
    .cont_table td:nth-child(3) {
        max-width: 40px;
        /* text-overflow: ellipsis; */
        /* overflow: hidden; */
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .cont_table td:nth-child(4) {
        max-width: 25px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .cont_table td:nth-child(5) {
        max-width: 35px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .cont_table td:nth-child(6) {
        width: 60px;
        /* word-break: keep-all; */
        text-align: left;
        padding-left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .cont_table th:nth-child(7) {
        display: none;
    }
    .cont_table td:nth-child(7) {
        max-width: 85px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: none;
    }
    .cont_table th:nth-child(8),
    .cont_table td:nth-child(8) {
        width: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .cont_table td:nth-child(9) {
        width: 50px;
    }
}